body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    margin: 0;
    padding: 0;
}

header .navbar__item {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header .brand {
    float: left;
}

header .brand h1 {
    margin: 0;
}

header .navbar {
    float: right;
    margin-top: 10px;
}

header .brand--highlight,
header .navbar--current {
    color: #e8491d !important;
    font-weight: bold;
}

header .navbar__item a {
    color: #ccc;
    font-weight: bold;
}

.showcase {
    min-height: 400px;
    background: url("../images//showcase.jpg") no-repeat 0 -400px;
    text-align: center;
    color: #fff;
}

.showcase__title {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}

.showcase__desc {
    font-size: 20px;
}

.newletter {
    padding: 15px;
    color: #fff;
    background: #35424a;
}

.newletter__title {
    float: left;
}

.newletter__form {
    float: right;
    margin-top: 15px;
}

.newletter__form input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

.newletter__form button {
    height: 37px;
    background: #e8491d;
    border: 0;
    padding: 3px 20px;
    color: #fff;
    cursor: pointer;
}

.box {
    margin-top: 20px;
}

.box__item {
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

.box__item img {
    width: 90px;
}

.dark {
    padding: 15px;
    background: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
}

article.main__col {
    float: left;
    width: 65%;
}

aside.sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

.quote--btn {
    height: 37px;
    background: #e8491d;
    border: 0;
    padding: 3px 20px;
    color: #fff;
    cursor: pointer;
}

.services__item {
    list-style: none;
    padding: 20px;
    border: #ccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

.sidebar .quote input,
.sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

footer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    background-color: #e8491d;
}

@media (max-width: 768px) {
    header .brand,
    header .navbar,
    header .navbar .navbar__item,
    .newletter .newletter__title,
    .newletter__form,
    .box .box__item,
    .main__col,
    .sidebar {
        float: none;
        text-align: center;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    .newletter__title {
        margin-top: 40px;
    }

    .newletter button {
        display: block;
        width: 100%;
    }

    .newletter__form input[type="email"] {
        width: 100%;
        margin-bottom: 5px;
    }
}
